section#desktop .element.list .cover {
		width: 180px;
		height: 128px;
		position: relative;
		overflow: hidden;
		margin-right: 20px;
		text-align: center;
		transition: border-radius .5s ease-out;
		-webkit-transition: border-radius .5s ease-out;
		-moz-transition: border-radius .5s ease-out;
		-ms-transition: border-radius .5s ease-out;
		 o-transition: border-radius .5s ease-out;
	}

	section#desktop .element.list a .cover i {
		color: #282827;
	}

	section#desktop .element.list a .cover .cover-hover i {
		color: #B2B2AF
	}

	section#desktop .element.list .cover:hover {
		border-radius: 3px;
	}

		section#desktop .element.list .cover .cover-hover {
			color:#B2B2AF !important;
			display: block;
			opacity: 0;
			position: absolute;
			width: 128px;
			height: 128px;
			background: rgba(0,0,0,0.4);
			top:0;
			left:0;
			z-index:1;
			transition: opacity .5s ease-out;
			-webkit-transition: opacity .5s ease-out;
			-moz-transition: opacity .5s ease-out;
			-ms-transition: opacity .5s ease-out;
			 o-transition: opacity .5s ease-out;
		}

		section#desktop .element.list .cover:hover .cover-hover {
			opacity: 1;
		}

		section#desktop .element.list .cover i:before {
			font-size: 128px;
		}
		section#desktop .element.list .cover img {
			width: 128px;
			height: 128px;
    text-align:center;
		}

		section#desktop .element.list .cover .downloading {
			width:100%;
			bottom:0;
			position: absolute;
			background-color: rgba(0,0,0,0.5);
			color:#B2B2AF;
			padding-top: 0.2em;
			min-height: 1.2em;
		}
		section#desktop .element.list .cover .downloading span{
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -10px;
			margin-bottom: 0.2em;
			display: block;
		}

#video {
	width:640px;
	height: 480px;
	margin:30px auto;
	border: 2px solid #e15d33;
	background-color: #474747;
	-moz-box-shadow: 0 0 7px rgba(0,0,0,.73);
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,.73);
	box-shadow: 0 0 7px rgba(0,0,0,.73);
}

/** Archive **/

#archiving {
	width: 275px;
	position: fixed;
	display: none;
	bottom: 0;
	right: 50px;
	background: #282827 url('../images/header.png');
	color: #b2b2af;
	z-index: 9;
	border:1px solid #e15d33;
	border-bottom: 0;
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.73);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.73);
	box-shadow: 0 0 4px rgba(0,0,0,.73);
	padding: 7px;
}

#archiving .progression {
	width: 200px;
	border: 1px dashed #e25d33;
	margin: 0 auto;
	position: relative;
	margin-top: 7px;
}

#archiving .progress {
	height: 20px;
	line-height: 20px;
	background: #434341;
	width: 0.5em;
}

#archiving .progress .percent {
	padding-left: 0.5em;
}

p {
	padding:5px;
	margin: 10px 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.center {text-align: center;}
.textRight{text-align: right;}
.text-center { text-align: center;}
.pullLeft {float:left !important;;}
.pullRight {float: right !important;}
.big {font-size: 2em !important;}
.middle{font-size: 1.5em;}
.small{font-style: 0.8em;}
.white{color:#b2b2af;}
.inline-block{display: inline-block;*zoom:1;*display: inline;display: moz-inline-box;}

.hide {
	display: none;
}



