downloads/
_trash/
.idea/
.DS_Store
sftp-config.json

app/public/js

app/public/javascripts/main.build.js
app/themes/default/public/js/main.min.js
app/themes/default/public/css/main.min.css


app/public/views
app/public/downloads
app/public/tmp/*

node_modules/

app/scripts
scripts/transmission/config/settings.*.json
app/config.json

app/plugins/*
!app/plugins/index.js
!app/plugins/chat/
!app/plugins/checkforupdates/
!app/plugins/listen/

app/themes/*
!app/themes/default/
!app/themes/index.js
ezseed2.sublime-project
ezseed2.sublime-workspace
