downloads/
_trash/
.idea/
.DS_Store

app/public/js
app/public/views
app/public/downloads
app/public/tmp/*

node_modules/

scripts/transmission/config/settings.*.json
app/config.json

app/plugins/*
!app/plugins/index.js
!app/plugins/chat/
!app/plugins/checkforupdates/
!app/plugins/listen/
!app/plugins/allocine/

app/themes/*
!app/themes/default/
!app/themes/index.js
ezseed2.sublime-project
ezseed2.sublime-workspace
