<% include ../header %>

<h1>Ajouter un répertoire</h1>

<div id="admin">
	<form method="POST" action="/admin/path" style="padding:10px" class="text-center">
		<input type="text" name="path" placeholder="Chemin du répertoire"><br /><br />
		<input type="submit" value="Envoyer">
	</form>
</div>

<div id="toTop"><i class="entypo-up-bold"></i></div>
<% include ../footer %>