<% include ../header %>

<h1>Ajouter un répertoire</h1>

<div id="admin">
	<form method="POST" action="" style="padding:10px" class="text-center">
		<textarea name="config" cols="10" rows="40">
			<%= JSON.stringify(config, null, 4) %>
		</textarea><br>
		<input type="submit" value="Envoyer">
	</form>
</div>

<div id="toTop"><i class="entypo-up-bold"></i></div>
<% include ../footer %>