
    </section>

    <% for(var i in plugins) {
     if(plugins[i].enabled) {
    %>
       <%- plugins[i].html['global'] %>
    <% }
        } %>


    <footer class="text-center">
        ezseed v<%= version %> - Made by <a href="http://soyuka.me">soyuka</a> - <a href="https://raw.github.com/soyuka/ezseed2/master/LICENCE">Creative Commons.</a> - Icons by <a href="http://entypo.com">Entypo</a>

    </footer>

    <script>
    var user = <%- JSON.stringify(user) %>;
    var config = <%- JSON.stringify(config) %>;
    var isDesktop = <% if(location == '/') { %>true <% } else { %> false <% } %>;
    </script>

  </body>
</html>
