<% include header %>

<div class="element list login-box">
  <form method="post" action="/login" class="text-center">
    <div class="input-box clearfix">
      <label><i class="entypo-user"></i></label>
      <input type="text" name="username">
    </div>
    <div class="input-box clearfix">
      <label><i class="entypo-lock"></i></label>
      <input type="password" name="password">
    </div>
      <button type="submit" class="login">Connexion</button>
  </form>
</div>

<% include footer %>