<% include header %>

<h1>Torrents</h1>

<% if(user.client == 'transmission') { %>

	<section id="torrents">
		<iframe src="http://<%= host %>:<%= user['rpc-port'] %>" width="100%" frameborder="0" height="700px" ></iframe>
	</section>

<% } else { %>

	<section id="torrents">
		<iframe src="http://<%= host %>/rutorrent" width="100%" frameborder="0" height="700px" ></iframe>
	</section>

<% } %>

<% include footer %>