<% include ../header %>

<h1>Ajouter un répertoire</h1>

<div id="admin">
	<form method="POST" action="/admin/path" style="padding:10px" class="text-center">
		<%- basePath %>/<input type="text" name="path" style="width: 270px;padding-left:0" placeholder="<%- username %>/exemple (Chemin du répertoire)"><br /><br />
		<input type="hidden" name="username" value="<%- username %>">
		<input type="submit" value="Envoyer">
	</form>
</div>

<div id="toTop"><i class="entypo-up-bold"></i></div>
<% include ../footer %>