body {
	font-size: 90%;
	color:#282827;
	font-family: Helvetica, Arial, sans-serif;;
	background: url(../images/background.png) repeat 0 0;
}

h1 {
	font-size: 1.5em;
	color:#272727;
	font-family: "Oswald";
	text-align: center;
	margin-top:20px;
	text-shadow: 0 -1px 0 #ffffff;
}

h1.invert {
	color:#ebe1c8;
	text-shadow: 0 -1px 0 rgba(0,0,0,.38);
	margin:5px 0;
}

section h2 {
	text-shadow: 0 -1px 0 #303030;
	font-size: 1.15em;
	color:#b2b2af;
	margin:0;
	margin-bottom: 5px;
}

header {
	padding-top: 5px;
	padding-bottom: 5px;
	background: #272727 url(../images/header.png) repeat 0 0;
	border-bottom: 2px solid #e15d33;
	-moz-box-shadow: 0 0 7px rgba(0,0,0,.73);
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,.73);
	box-shadow: 0 0 7px rgba(0,0,0,.73);
}

	header .container {
		width: 80%;
		margin:0 auto;
		padding-top: 5px;
	}

	header nav#menu button {
		cursor: pointer;
		width: 144px;
		height: 25px;
		border: 1px solid rgba(0,0,0,.5);
		background-color: #e15d33;
		display: block;
		background-image: -moz-linear-gradient(top, #e66b3b 0%, #de502c 100%);
		background-image: -o-linear-gradient(top, #e66b3b 0%, #de502c 100%);
		background-image: -webkit-linear-gradient(top, #e66b3b 0%, #de502c 100%);
		background-image: linear-gradient(top, #e66b3b 0%, #de502c 100%);
		text-align: left;
		color:#282827;
		font-size: 0.9em;
		line-height: 20px;
		vertical-align: top;
		margin-top:7px;
	}

	header nav#menu button:hover {
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(236, 200, 82, 0.6);
     	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(236, 200, 82, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(236, 200, 82, 0.6);
	}

	header nav#menu a:hover {
		text-decoration: none;
	}

	header nav#menu i {
		margin-right: 7px;
	}

	header nav#menu button.first {
		margin-top:0px;
	}

	header #diskSpace {
		background-color: #272727;
		width: 435px;
		height: 24px;
		border:1px dashed #e25d33;
		margin: 20px auto;
		position: relative;
	}

		header #diskSpace span.text {
			position: absolute;
			top: -2px;
			left: 10px;
			text-transform: uppercase;
			font-size: 1.3em;
			color:#b2b2af;
			display: inline;
		}

		header #diskSpace span.size {
			position: absolute;
			top: -2px;
			left: 30px;
			text-transform: uppercase;
			font-size: 1.3em;
			color: #E25D33;
			display: inline;
			text-align: right;
			width: 400px;
		}

		header #diskSpace #usedBar {
			height: 24px;
			background-color: #434341;
		}
	header #user {
		color:#e25d33;
		font-size: 1em;
		border:2px dashed #e25d33;
		margin-top: 10px;
		width: 150px;
		padding:0 7px;
		height: 35px;
		line-height: 35px;
	}

nav#menu {
	width: 150px;
	height:40px;
	display: block;
}

.input-block {
	width:300px;
	margin: 0 auto;
	padding: 0;
}

.input-block > * {
	float: left;
	padding: 0;
}

.input-block input {
	margin: 0;
	border-left: 1px solid rgba(40,39,27,0.3);
	height: 30px;
	padding-left: 4px;
	width: 263px;
	-webkit-box-shadow: inset 0px 0px 1px #aa5f47;
	-moz-box-shadow: inset 0px 0px 1px #aa5f47;
	box-shadow: inset 0px 0px 1px #aa5f47;
}

.input-block input:focus {
	outline: 0;
}

.input-block i:before {
	margin:0;
	padding-left: 7px;
	padding-right: 7px;
	border: 1px solid #b14827;
	border-right:0px;
	height: 30px;
	line-height: 30px;
	color: #272726;
	text-shadow: 0 -1px 0 rgba(101,38,17,.5);
	background-color: #c9532d;
	-moz-box-shadow: inset 0 0 3px rgba(222,86,47,.9);
	-webkit-box-shadow: inset 0 0 3px rgba(222,86,47,.9);
	box-shadow: inset 0 0 3px rgba(222,86,47,.9);
}

nav#display {
	width: 78%;
	margin: 0px auto 20px auto;
	height:40px;
	display: block;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #373634 url('../images/grey.png');
	padding-top: 10px;
	-webkit-box-shadow: inset 0px 2px 7px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 2px 7px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 2px 7px 0px rgba(0,0,0,0.75);
}

nav#display.fixed {
	position: fixed;
	top:0;
	margin-left: 11%;
	z-index: 9;
	opacity: 0.7;
}

	nav #displayOptions {
		float:left;
		margin-left: 20px;
	}

	nav #displayOptions i {
		color: #b2b2af;
		cursor: pointer;
	}

	nav #displayOptions i:before {
		font-size: 25px;
		line-height: 30px;
	}

	nav #displayOptions i:hover,nav #displayOptions i.active {
		color:#aa5f47;
	}

	nav ul#displayFilters {
		margin: 0;
		margin-right: 20px;
		padding: 0;
		list-style-type: none;
		float:right;
		height: 30px;
		-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
		box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
	}

	nav ul#displayFilters li:first-child {
		border-left: 0;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	nav ul#displayFilters li:last-child {
		-webkit-border-top-right-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		-moz-border-radius-topright: 3px;
		-moz-border-radius-bottomright: 3px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	nav ul#displayFilters li {
		cursor: pointer;
		font-size: 1em;
		line-height: 30px;
		width:57px;
		text-align: center;
		color:#b2b2af;
		height: 100%;
		padding: 0 5px;
		float:left;
		border-left: 1px solid #656565;
		background-color: #434341;
		-webkit-transition-property: background-color, color;
		-webkit-transition-duration: 0.5s;
		-moz-transition-property: background-color, color;
		-moz-transition-duration: 0.5s;
		transition-property: background-color, color;
		transition-duration: 0.5s;
	}

	nav ul#displayFilters li:hover, nav ul#displayFilters li.active {
		color:#aa5f47;
		background-color: rgba(40,40,39,0.5);
	}

#video {
	width:640px;
	height: 480px;
	margin:30px auto;
	border: 2px solid #e15d33;
	background-color: #474747;
	-moz-box-shadow: 0 0 7px rgba(0,0,0,.73);
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,.73);
	box-shadow: 0 0 7px rgba(0,0,0,.73);
}

section#desktop {
	width: 80%;
	margin: 15px auto;
}

section#desktop .element {
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-o-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	transition: all 0.75s ease;
}

/*section#desktop .grid-sizer { width: 100%; }
*/
section#desktop .miniature {display: none;}
section#desktop .table {display: none;}

section#desktop .element.miniature {
	max-width: 25%;
	position: relative;
	overflow:hidden;
	font-size: 0;
}

	section#desktop .element.miniature img {
		max-width: 100%;
	}

	section#desktop .element.miniature div.titre {
		padding: 0;
		margin: 0;
		top: 0;
		left:0;
		z-index: 2;
		display: inline-block;

		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;

		position: absolute;
		background-color: rgba(0,0,0,0.5);
		width: 100%;

		-webkit-transition: opacity 0.5s ease;
		-moz-transition: opacity 0.5s ease;
		-o-transition: opacity 0.5s ease;
		-ms-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
	}

	section#desktop .element.miniature:hover div.titre {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
		filter: alpha(opacity=1);
		opacity: 1;
	}

	section#desktop .element.miniature div.titre h1 {
		margin: 0.2em;
		text-align: center;
		white-space:nowrap;
		text-shadow: 0 -1px 0 #303030;
		font-size: 20px;
		color:#b2b2af;
	}

	section#desktop .element.miniature a {
		font-size: 0;
	}
	
	section#desktop .element.miniature i {
		font-size: 256px;
		color:#B2B2AF;
		background-color: #474747;
		width: 250px;
		height: 250px;
	}

section#desktop .element.list {
	position: relative;
	width: 100%;
	min-height: 160px;
	padding: 10px;
	margin: 0 auto 20px auto;
	border: 2px solid #e15d33;
	background-color: #474747;
	-moz-box-shadow: 0 0 7px rgba(0,0,0,.73);
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,.73);
	box-shadow: 0 0 7px rgba(0,0,0,.73);
}

section#desktop .element.list.login-box {
	width:350px;
	background-color: #373634;
	min-height: 0;
}


	section#desktop .element.list h1 {
		text-shadow: 0 -1px 0 #303030;
		font-size: 1.3em;
		color:#b2b2af;
		margin:0;
		margin-bottom: 5px;
		text-align: left;
	}

	section#desktop .element.list > .pullLeft {
		width: 150px;
	}

	section#desktop .element.list > .list-infos {
		margin-left: 150px;
	}

	section#desktop .element.list .cover {
		width: 128px;
		height: 128px;
		border: 1px solid #272727;
		background:#B2B2AF;
		position: relative;
		overflow: hidden;
		margin-right: 20px;
		text-align: center;
		transition: border-radius .5s ease-out;
		-webkit-transition: border-radius .5s ease-out;
		-moz-transition: border-radius .5s ease-out;
		-ms-transition: border-radius .5s ease-out;
		 o-transition: border-radius .5s ease-out;
	}

	section#desktop .element.list a .cover i {
		color: #282827;
	}

	section#desktop .element.list a .cover .cover-hover i {
		color: #B2B2AF
	}

	section#desktop .element.list .cover:hover {
		border-radius: 3px;
	}

		section#desktop .element.list .cover .cover-hover {
			color:#B2B2AF !important;
			display: block;
			opacity: 0;
			position: absolute;
			width: 128px;
			height: 128px;
			background: rgba(0,0,0,0.4);
			top:0;
			left:0;
			z-index:1;
			transition: opacity .5s ease-out;
			-webkit-transition: opacity .5s ease-out;
			-moz-transition: opacity .5s ease-out;
			-ms-transition: opacity .5s ease-out;
			 o-transition: opacity .5s ease-out;
		}

		section#desktop .element.list .cover:hover .cover-hover {
			opacity: 1;
		}

		section#desktop .element.list .cover i:before {
			font-size: 128px;
		}
		section#desktop .element.list .cover img {
			max-width: 100%;
			min-height: 100%;
		}

		section#desktop .element.list .cover .downloading {
			width:100%;
			bottom:0;
			position: absolute;
			background-color: rgba(0,0,0,0.5);
			color:#B2B2AF;
			padding-top: 0.2em;
			min-height: 1.2em;
		}
		section#desktop .element.list .cover .downloading span{
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -10px;
			margin-bottom: 0.2em;
			display: block;
		}

	section#desktop .element.list hr {
		width: 100%;
		height: 1px;
		background-color: #272727;
		color:#272727;
		border:0;
	}

	section#desktop .element.list p.infos {
		text-align: justify;
	}

	section#desktop .element.list .info {
		padding: 0 10px;
		height:30px;
		background:#3d3d3d;
		border:1px dashed #303030;
		display:inline-block;
		margin-top: 10px;
		color:#e25d33;
		line-height: 30px;
		vertical-align: top;
	}
		section#desktop .element.list .info i {
			margin-right: 5px;
		}
	section#desktop .element.list .showFiles{
		cursor: pointer;
		position: absolute;
		right: 0;
		bottom: 0;
		width: 90px;
		height: 28px;
		padding-left: 5px;
		vertical-align: top;
		-moz-box-shadow: -1px -1px 0 rgba(40,40,39,.1);
		-webkit-box-shadow: -1px -1px 0 rgba(40,40,39,.1);
		box-shadow: -1px -1px 0 rgba(40,40,39,.1);
		background: #e15d33;
		line-height: 28px;
	}

	section#desktop .element.list .showFiles i{ margin-right: 5px;}

	section#desktop .element.list .files {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;

		-webkit-transition: opacity 0.5s ease;
		-moz-transition: opacity 0.5s ease;
		-o-transition: opacity 0.5s ease;
		-ms-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
		visibility: hidden;
		color:#b2b2af !important;
		position: absolute;
		left:2.5%;
		top:180px;
		width: 92.5%;
		border: 2px solid #e15d33;
		border-top: 0;
		background-color: #474747;
		padding: 0 1%;
		height: auto;
	}

	section#desktop .element.list p {
			color:#B2B2AF;
	}

section#desktop .element.table {
	height: 25px;
	width: 100%;
	padding: 0 7px;
	margin: 0 auto;
	background-color: #474747;
	border: 2px solid #e15d33;
	border-bottom: 1px solid #b2b2af;
	border-top: 0;
	line-height: 25px;
	vertical-align: top;
	color:#B2B2AF;
}

table {
	margin:10px auto;
	width: 95%;
}

table th {
	font-weight: bold;
	font-size: 1.2em;
	background: rgba(225,93,51,0.5);
	padding-bottom: 5px;
	color:#b2b2af !important;
}

table td {
	color:#b2b2af !important;
	background: rgba(225,93,51,0.2);
	border-bottom: 1px solid #474747;
	text-align: center;
}

td, th {
	padding:5px;
}

footer {
	margin-top: 20px; 
	height:50px;
	width: 100%;
	clear: both;
}

footer a {
	color:#5f5f5f;
	border-bottom: 1px dotted #222222;
}

footer a:hover {
	border-bottom: 0;
}

.input-box {
	width:300px;
	margin: 10px auto;
	padding: 0;
}

section#desktop .input-box {margin: 0;margin-right: 5px; display: inline-block;width: auto;}
.input-box > * {
	float: left;
	padding: 0;
}

.input-box input {
	margin: 0;
	border-left: 1px solid rgba(40,39,27,0.3);
	height: 30px;
	padding-left: 4px;
	width: 263px;
	-webkit-box-shadow: inset 0px 0px 1px #aa5f47;
	-moz-box-shadow: inset 0px 0px 1px #aa5f47;
	box-shadow: inset 0px 0px 1px #aa5f47;
}

.input-box input:focus {
	outline: 0;
}

.input-box button {
	color:#282827;
	border: 1px solid #b14827;
	border-left: 1px solid rgba(40,39,27,0.3);
	text-shadow: rgba(214, 153, 133,0.3) 0px 0px 1px;
	background-color: #c9532d;
	-webkit-box-shadow: inset 0px 0px 1px #aa5f47;
	-moz-box-shadow: inset 0px 0px 1px #aa5f47;
	box-shadow: inset 0px 0px 1px #aa5f47;
	padding-left: 7px;
	padding-right: 7px;
	line-height: 30px;
	font-family: "Oswald";
}

.input-box i:before {
	margin: 0;
	text-align: center;
	font-size: 18px;
	border: 1px solid #b14827;
	border-right:0px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	color: #282827;
	text-shadow: rgba(214, 153, 133,0.3) 0px 0px 1px;
	background-color: #c9532d;
	-moz-box-shadow: inset 0 0 3px rgba(222,86,47,.9);
	-webkit-box-shadow: inset 0 0 3px rgba(222,86,47,.9);
	box-shadow: inset 0 0 3px rgba(222,86,47,.9);
	cursor: pointer;
}

.input-box:hover {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.055), 0 0 5px rgba(236, 200, 82, 0.3);
 	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.055), 0 0 5px rgba(236, 200, 82, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.055), 0 0 5px rgba(236, 200, 82, 0.3);
}

.button-group {
	float: right;
	margin-top: -35px;
}

.button-group a {
	text-decoration: none;
}

.button-group .input-box {
	height:30px;
	display:inline-block;
	color:#e25d33;
	line-height: 30px;
	vertical-align: top;
}

.login-button {
	text-align: center;
	font-size: 1.575em;
	margin: 0 auto;
	float: none;
	padding: 4px 7px;
}

	.login-button {
		cursor: pointer;
		border: 1px solid rgba(0,0,0,.5);
		background-color: #e15d33;
		display: block;
		background-image: -moz-linear-gradient(top, #e66b3b 0%, #de502c 100%);
		background-image: -o-linear-gradient(top, #e66b3b 0%, #de502c 100%);
		background-image: -webkit-linear-gradient(top, #e66b3b 0%, #de502c 100%);
		background-image: linear-gradient(top, #e66b3b 0%, #de502c 100%);
		color:#282827;
		vertical-align: middle;
		margin-top:7px;
	}

	.login-button:hover {
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(236, 200, 82, 0.6);
     	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(236, 200, 82, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(236, 200, 82, 0.6);
	}

button.connexion {
	cursor: pointer;
	border:0;
	width: 156px;
	height: 43px;
	margin:10px;
	-moz-border-radius: 3px / 5px;
	-webkit-border-radius: 3px / 5px;
	border-radius: 3px / 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #ebe1c7;
	background-image: -moz-linear-gradient(bottom, #272727 0%, #2f2f2d 100%);
	background-image: -o-linear-gradient(bottom, #272727 0%, #2f2f2d 100%);
	background-image: -webkit-linear-gradient(bottom, #272727 0%, #2f2f2d 100%);
	background-image: linear-gradient(bottom, #272727 0%, #2f2f2d 100%);
	-moz-box-shadow: 0 -1px 0 rgba(71,71,69,.75);
	-webkit-box-shadow: 0 -1px 0 rgba(71,71,69,.75);
	box-shadow: 0 -1px 0 rgba(71,71,69,.75);
	color: #eae0c7;
	font-family: "Oswald";
	font-size: 27px;
	float: none;
}

input {
	border: 1px solid #b14827;
	color: #272726;
	text-shadow: 0 -1px 0 rgba(101,38,17,.5);
	background-color: #c9532d;
	-moz-box-shadow: inset 0 0 3px rgba(222,86,47,.9);
	-webkit-box-shadow: inset 0 0 3px rgba(222,86,47,.9);
	box-shadow: inset 0 0 3px rgba(222,86,47,.9);
	width: 150px;
	height: 32px;
	display:block;
	margin:10px auto;
	padding-left: 43px;
	font-size: 1em;
}

input::-webkit-input-placeholder {
	opacity: .7;
	color: #272726;
	text-shadow: 0 -1px 0 rgba(155,63,35,.6);
}

input:-moz-placeholder {
	opacity: .7;
	color: #272726;
	text-shadow: 0 -1px 0 rgba(155,63,35,.6);
}

#slider {
	width:500px;
	margin: 0 auto;
}

#payInfos {
	width:500px;
	margin: 10px auto;
	text-align: center;
	font-size: 1.2em;
	color:#b2b2af;
}

.league-gothic {
	font-family: "Oswald";
}		

#overlay {
	display: none;
	z-index: 10;
	background: rgba(40,40,39,0.5);
	position: fixed;
	width: 100%;
	height: 100%;
}

#alert {
	line-height: 30px;
	vertical-align: top;
	padding: 0;
}

#alert p {
	padding: 0;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
}

#alert p.error {
	color:#ad4229!important;text-shadow: 0 -1px 0 #903010;
	background: #330A00;
}

#alert i {cursor: pointer;}

/** Archive **/

#archiving {
	width: 275px;
	position: fixed;
	display: none;
	bottom: 0;
	right: 50px;
	background: #282827 url('../images/header.png');
	color: #b2b2af;
	z-index: 9;
	border:1px solid #e15d33;
	border-bottom: 0;
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.73);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.73);
	box-shadow: 0 0 4px rgba(0,0,0,.73);
	padding: 7px;
}

#archiving .progression {
	width: 200px;
	border: 1px dashed #e25d33;
	margin: 0 auto;
	position: relative;
	margin-top: 7px;
}

#archiving .progress {
	height: 20px;
	line-height: 20px;
	background: #434341;
	width: 0.5em;
}

#archiving .progress .percent {
	padding-left: 0.5em;
}

/** Timeline for more episodes **/

.more {margin-top:30px;text-align: left;}

#timeline {
    height:20px;
    line-height:20px;
    position:relative;
    width:80%;
    margin:50px auto 20px auto;
}

#timeline > hr {
    height:2px!important;
    background:#282727;
}

#timeline > ul {
    margin:0;padding:0;
    position:absolute;
    top:-11px;
    text-align:center;
}

#timeline > ul li {
    cursor:pointer;
	position:relative;
	display:inline-block;
	margin:0;
	padding:0;
	margin-left:25px;
	list-style-type:none;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	border-radius:50%/50%;
	background:#b2b2af;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	transition:all 0.2s ease;
}

#timeline > ul a li {color:#282827; text-shadow : 0 -1px 0 rgba(255,255,255,0.3);}
#timeline > ul a li span {color:#b2b2af;text-shadow: 0 -1px 0 #303030;}
#timeline > ul a.active li {
	cursor: text;
	background: #282827;
	color:#b2b2af;
	text-shadow: 0 -1px 0 #303030;
}

#timeline > ul li:hover {
    background:#e15d33;
    color:#b2b2af;
	text-shadow: 0 -1px 0 #303030;
}

#timeline > ul li span.title { 
    display:none; 
    position:absolute;
	left: -85px;
    top:30px;
    width:200px;
}

#timeline > ul li:hover span.title { display:block; }


#torrents {
}

/**
 * Admin
 */

#admin {
	background-color: #474747;
	-moz-box-shadow: 0 0 7px rgba(40,40,39,.60);
	-webkit-box-shadow: 0 0 7px rgba(40,40,39,.60);
	box-shadow: 0 0 7px rgba(40,40,39,.60);
	border:2px solid #e15d33;
	color:#B2B2AF;
}

#admin h2 {
	font-weight: normal;
	margin:0;
	border-bottom:1px solid rgba(235, 225, 200, 0.2);
	width: 100%;
	cursor: pointer;
	color:#B2B2AF;
}

#admin h2.open, #admin h2:hover {
	color:#D8D8CA;
}

#admin h2.last{
	border-bottom: 0;
}

#admin h2 a {
	padding:10px;
	color:inherit;
	display: block;
	width: 100%;
	text-decoration: none!important;
}

#admin h2 + div {
  height: auto;
  color:#B2B2AF;
  background: #373634 url('../images/grey.png');
}

#admin h2.open + div {
	border-bottom:1px solid rgba(235, 225, 200, 0.2);
}

#admin .content {
  padding: 10px;
}

#admin .user-more {
	display:none;
	border: 1px solid #D8D8CA;
	margin: 10px;
	padding: 7px;
	background-color: #474747;
}

#admin .user-more h4 {
	margin-top: 0;
}

#admin input {
	height:auto;
	width: auto;
	padding-left:4px;
	margin:0;
	width:175px;
	display:inline-block;
}

#admin form#configuration input {
	width: 150px;
}

#admin form#configuration {
	width:500px;
	margin: 0 auto;
}

#admin form#configuration .form-block {
	position: relative;
	margin-bottom: 10px;
}

.form-block .input-helper {
	margin-left: 5px;
}

.form-block input, .form-block .input-helper, .form-block .customSelect {
	float:right;
}

 .form-block select {
 	right:0;
 }

span.customSelect {
	cursor:pointer;
	border: 1px solid #b14827;
	color: #272726;
	text-shadow: 0 -1px 0 rgba(101,38,17,.5);
	-moz-box-shadow: inset 0 0 3px rgba(222,86,47,.9);
	-webkit-box-shadow: inset 0 0 3px rgba(222,86,47,.9);
	box-shadow: inset 0 0 3px rgba(222,86,47,.9);
	padding:1px;
	padding-left: 4px;
	font-size: 1em;
	width: 175px;
	background:#c9532d url(../images/arrow-down.png) right center no-repeat;
}

button:focus, input:focus, select:focus {
	outline: 0;
}

#toTop {
	position: fixed;
	right: 0;
	top:50%;
	height:48px;
	width: 48px;
	background: #282827 url('../images/header.png');
	color: #b2b2af;
	text-align: center;
	vertical-align: top;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	text-shadow: 0px 1px 0px #000; 
	cursor: pointer;
}
#toTop i:before {
	font-size: 40px;
	margin:0;
	line-height: 48px;
}
a {
	color:#e15d33;
}

a:hover {
	color:#b2b2af;
}

p {
	padding:5px;
	margin: 10px 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.center {text-align: center;}
.textRight{text-align: right;}
.text-center { text-align: center;}
.pullLeft {float:left !important;;}
.pullRight {float: right !important;}
.big {font-size: 2em !important;}
.middle{font-size: 1.5em;}
.small{font-style: 0.8em;}
.white{color:#b2b2af;}
.inline-block{display: inline-block;*zoom:1;*display: inline;display: moz-inline-box;}

.hide {
	display: none;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
