
<% if(enabled) { %>
	<a href="plugins/listen/disable" title="Désactiver"><i class="entypo-block"></i></a>
<% } else { %>
	<a href="plugins/listen/enable" title="Activer"><i class="entypo-check"></i></a>
<% } %>