<div class="player" id="dgplayer" style="display:none;" tabindex="0">
    <div class="cf player-item">
        <div class="avatar">
            <img src="/img/avatar.jpeg">
        </div>

        <div style="float:left;max-width: 300px;">
            <span class="title">Unknown Title</span>
            <span class="artist">Unknown Artist</span>

            <div class="seek">
                <span>0:00</span>
                <div class="track">
                    <div class="loaded"></div>
                    <div class="progress"></div>
                </div>
                <span>-0:00</span>
            </div>
            <div class="controls">
                <div class="button-prev"><i class="entypo-fast-backward"></i></div>
                <div class="button"><i class="entypo-play"></i></div>
                <div class="button-next"><i class="entypo-fast-forward"></i></div>


                <div class="volume">
                   <img src="/img/volume_low.png">
                    <div class="track">
                        <div class="progress" style="height: 60px;"></div>
                        <div class="handle" style="-webkit-transform: translate3d(0, -52px, 0);"></div>
                    </div>
                    <img src="/img/volume_high.png">
                </div>

                <div class="button-playlist"><i class="entypo-numbered-list"></i></div>

            </div>
        </div>

    </div>
    
    <div id="playlist">
    
    </div>

</div>
