<% include ../header %>

<h1>Modifier le mot de passe</h1>

<div id="admin">
	<form method="POST" action="" style="padding:10px" class="text-center">
		<input type="password" name="password" value="" placeholder="Nouveau mot de passe">
		<br><br>
		<input type="submit" value="Envoyer">
	</form>
</div>

<div id="toTop"><i class="entypo-up-bold"></i></div>

<% include ../footer %>