<% include ../header %>

<h1>Ajouter un utilisateur</h1>

<div id="admin">
	<form method="POST" action="/admin/user" style="padding:10px" class="text-center">
		<input type="text" name="username" value="" placeholder="Nom d'utilisateur">
		<input type="password" name="password" value="" placeholder="Mot de passe">
		<select name="client">
			<option value="rutorrent">Rutorrent</option>
			<option value="transmission">Transmission</option>
			<option value="aucun">Aucun</option>
		</select>
		<br><br>
		<input type="submit" value="Envoyer">
	</form>
</div>

<div id="toTop"><i class="entypo-up-bold"></i></div>

<% include ../footer %>