<% include header %>

<div id="archiving">
	Compression de <span class="name"></span>
	<div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success"><div class="percent">0%</div></div>
    </div>
</div>

<% include footer %>