<% include header %>

<section class="widget">
<header>
    <h4><i class="fa fa-magnet"></i> Torrents</h4>
</header>
<div class="body no-margin">
   	<iframe src="http://<%= host %>:<%= user['rpc-port'] %>" width="100%" frameborder="0" height="500px" ></iframe> 
</div>
</section>

<% include footer %>