<% include header %>

<% if(user.client == 'transmission') { %>

<section class="widget col-md-11">
    <div class="body no-margin">
        <iframe src="http://<%= host %>:<%= user['rpc-port'] %>" width="100%" frameborder="0" height="500px" ></iframe> 
    </div>
</section>

<% } else { %>

<section class="widget col-md-11">
    <div class="body no-margin">
        <iframe src="http://<%= host %>/rutorrent" width="100%" frameborder="0" height="700px" ></iframe>
    </div>
</section>
<% } %>

<% include footer %>