
<% if(enabled) { %>
	<a href="plugins/checkforupdates/disable" title="Désactiver"><i class="entypo-block"></i></a>
<% } else { %>
	<a href="plugins/checkforupdates/enable" title="Activer"><i class="entypo-check"></i></a>
<% } %>

<a href="plugins/checkforupdates/manual" title="Verifier que ezseed2 est à jour"><i class="entypo-back-in-time"></i></a>