<div id="chat">
	<ul class="messages">

	</ul>
	<div id="textarea" contenteditable="true"></div>
</div>
<script type="text/javascript">
var port = "<%= port %>";
</script>
<script type="text/javascript" src="/js/chat.js"></script>