<div id="chat">
	<div class="clearfix top">
		<i class="entypo-minus-squared pullLeft"></i>
		<span class="users pullRight">

		</span>
	</div>
	<ul class="messages">

	</ul>
	<div id="textarea" contenteditable="true"></div>
</div>
<script type="text/javascript">
var port = "<%= port %>";
</script>
<script type="text/javascript" src="/js/chat.js"></script>