<% if(user) { %>
<div id="chat" class="closed">
	<div class="clearfix top">
		<i class="entypo-plus-squared pullLeft"></i>
		<span class="users pullRight">

		</span>
	</div>
	<ul class="messages">

	</ul>
	<div id="textarea" contenteditable="true"></div>
</div>
<% } %>