<div id="chat">
	<ul class="messages">
		<% for (var i in messages) {%>
			<%= messages[i] %>
		<% } %>
	</ul>
	<textarea></textarea>
</div>
<script type="text/javascript">
(function($){

})
</script>