<% include header %>

<h1>Panel d'administration</h1>
<h2>1) Liste users => Liste répertoires</h2>
	<ul>
		<li>Ajouter user</li>
		<li>Supprimer user</li>
		<li>Editer user</li>
	</ul>
<h2>2) Répertoires surveillés </h2>
	<ul>
		<li>Ajouter un répertoire</li>
		<li>Supprimer rép + contenu</li>
	</ul>
<h2>3) Configurations</h2>
	<ul>
		<li>Torrent => nouvelle fenêtre, lien, embed</li>
		<li>Player vidéo</li>
		<li>Player audio</li>
		<li>Espace disque</li>
	</ul>
<h2>4) Plugins (à venir)</h2>
<div id="toTop"><i class="entypo-up-bold"></i></div>
<% include footer %>